button:hover {
  background-color: azure;
}

a:link {
  color: rgb(109, 4, 4);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}