body {
  font-size: 16px;
  background: #ecf0f1;
}

/* #section1 {
  position: relative;
  width: 400px;
  margin: 50px;
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
}

#col-1-2 {
  position: relative;
  width: 400px;
  margin: 50px;
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
} */

.column {
  float: left;
  width: 400px;
  margin: 50px;
  padding: 5px;
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display: block;
}

header {
  background: #ecf0f1;
  max-height: 190px;
  background: rgba(236, 240, 241,.9);
  overflow: hidden;
}

.left {
  padding: 30px 30px;
  float: left;
  width: 190px; 

}

.right {
  padding: 30px 0;
  float: left;
  width: 150px; 
  text-align: center;
}

#play {
  border: 0;  
  font-size: 30px;
}
    #play:focus {
    outline: none;
  }

#pause {
  border: 0;
  font-size: 30px;
  
}
    #pause:focus {
      outline: none;
    }

h1 {
  font-size: 1.5em;
  color: #333;
}

h2 {
  font-size: 12px;
  margin: 5px 0; 
  color: rgba(149, 165, 166,1.0);
}

img {
  width: 100%;
}





/* #player {
  
}
#player:hover {
}

#album {
}

.controls {
  
}
  .play, .pause {
    
  }
  .option {
    
  }
  .add {
    
  }
  .volume {
    
  }
  .shuffle {
    
  }


.play, .pause, .next, .previous, .option, .add, .volume, .shuffle {
}
.play:hover {
} */