* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #F5E9DD;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #F5939C; */
  color: #F5E9DD;
}

nav .logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 32%;
}

nav .nav-links a {
  font-size: 30px;
  font-weight: normal;
  cursor: pointer;
}

nav .nav-links a:hover {
  border-bottom: 1px solid #F5E9DD;
}

nav .burger-menu {
  font-size: 28px;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  nav .burger-menu {
    display: block;
  }

  ul {
    list-style: none;
  }

  nav a {
    text-decoration: none;
    color: #F5E9DD;
  }

  nav .nav-links {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #F5939C;
    padding: 40px;
    width: 50%;
    transform: translateX(-500px);
    transition: 0.5s ease-in-out;
  }

  
  nav .nav-links li {
    padding: 25px;
    border-bottom: 1px solid #F5E9DD;
  }

    nav .nav-links li:last-of-type {
      border-bottom: 0px solid #F5E9DD;
    }

  nav .nav-links a:hover {
    border-bottom: 0px solid #F5E9DD;
  }
}